@import url('https://fonts.googleapis.com/css2?family=Domine:wght@500&family=Mulish:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@500&family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Basic&family=Domine:wght@500&display=swap');
/*-------------------- header --------------------*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  text-transform: uppercase;
  padding: 0 100px;
  /* background-color: rgb(255, 213, 0); */
}

header button {
  padding: 5px 20px;
  background: #0000;
  color: #fff;
  border-radius: 20px;
  transition: all ease-in-out 500ms;
}

header button:hover {
  padding: 5px 20px;
  background: #ffff;
  color: black;
  border-radius: 20px;
}

header {
  position: absolute;
  width: 100%;
  z-index: 99999;
  background: #212529;
  top: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 40px;
  left: 5px;
  border: 1px solid #efefef;
  border-radius: .4em;
  min-width: 100px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 1;
  background: #530000;
  color: white;
  cursor: pointer;
  width: 200px;
}

.dropdown-content p {
  color: white !important;
}

.dropdown svg {
  color: #530000;

}

.dropdown img {
  width: 60px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

nav img {
  vertical-align: middle;
  width: 72px;
}

nav div {
  display: flex;
  align-items: center;
}

nav div p {
  margin: 0 25px;
  font-weight: 600;
  transition: all ease-in-out 300ms;
  padding: 10px 20px;
  font-family: 'Domine', serif;
  font-family: 'Mulish', sans-serif;
  text-align: center;
  text-transform: capitalize;
  font-size: 14px;
  color: #fff;
}

.headerIcons {
  width: 240px;
  padding: 0px
}

.headerIcons svg {
  font-size: 24px;

}

.headerIcons p {
  margin: 0 1px !important;
}

nav div p:hover {
  border-radius: 5px;

  background-color: #9d2226;
  color: white;
}

.headerIcons p span {
  position: absolute;
  top: 10px;
  right: 280px;
  z-index: 2;
  font-size: 11px;
  border-radius: 50%;
  background: #d60b28;
  width: 20px;
  height: 20px;
  line-height: 16px;
  display: block;
  padding: 2px;
  text-align: center !important;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.Slider img {
  height: 100vh !important;
}

/*------------------ footer --------------------*/
ul {
  margin: 0px;
  padding: 0px;
}

.footer-section {
  background: #212529;
  position: relative;
}

.footer-social-icon svg {
  font-size: 25px;
  color: rgb(255, 225, 0);
}

.footer-social-icon svg:hover {
  color: #B80000;
}

.container.menu {
  padding-bottom: 8%;
}

.footer-cta {
  border-bottom: 1px solid #373636;
}

.single-cta i {
  color: rgb(255, 225, 0);
  font-size: 30px;
  float: left;
  margin-top: 8px;
}

.cta-text {
  padding-left: 15px;
  display: inline-block;
}

.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}

.cta-text span {
  color: #fff;
  font-size: 15px;
  letter-spacing: 0;
}

.footer-content {
  position: relative;
  z-index: 2;
}

.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}

.footer-logo {
  margin-bottom: 30px;
}

.footer-logo img {
  max-width: 200px;
}

.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #fff;
  line-height: 28px;
  letter-spacing: 1px;
  font-size: 18px;
  padding-bottom: 30px;
  padding-right: 60px;
}

.footer-section .col-xl-4.col-lg-4.col-md-6.mb-30 {
  padding-left: 35px;
}

.footer-content ul {
  display: grid;
  padding-left: 0;
}

.footer-content ul a {
  text-transform: capitalize !important;
  letter-spacing: 0;
  font-size: 18px;
  font-weight: 600;
}

.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;

  margin-bottom: 20px;
}

.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}

.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}

.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}

.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: rgb(255, 225, 0);
}

.footer-widget ul li {
  display: inline-block;

  width: 50%;
  margin-bottom: 12px;
}

.footer-widget ul li a:hover {
  color: rgb(255, 225, 0);
}

.footer-widget ul li a {
  color: #f8f8f8 !important;
  text-transform: uppercase;
}

.subscribe-form {
  position: relative;
  overflow: hidden;
}

.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #fff;
  border: 1px solid #2e2e2e;
  color: #fff;
  border-radius: 30px;
}

.subscribe-form button {
  position: absolute;
  right: 0;
  background: rgb(255, 225, 0);
  padding: 13px 20px;
  border: 1px solid rgb(255, 225, 0);
  top: 1px;
  border-radius: 0px 30px 30px 0px;
  transition: all 300ms ease-in-out;
}

.subscribe-form:hover button {
  background: #B80000;
  color: #fff !important;
  border-color: #B80000;
}

.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}

.copyright-area {
  background: #212529;
  padding: 25px 0;
}

.footer-logo img {
  width: 25% !important;
}

.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #fff;
  text-align: left;
  letter-spacing: 1px;
  font-weight: 700;
}

.copyright-text p a {
  color: rgb(255, 225, 0);
}

.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}

.footer-menu li:hover a {
  color: rgb(255, 225, 0);
}

.footer-menu li a {
  font-size: 14px;
  color: #878787;
}

/*----------------- contact------------------- */
.contact {
  /* height: 100vh; */
  width: 100%;
  margin: 67px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: center;
}

.contact .container-fluid {
  background: url('../assets/banner3.png');
  background-repeat: no-repeat;
  height: 300px;
  display: flex;
  justify-content: center;
  background-position: 0% 0%;
  align-items: center;
}

.container-fluid.abt {
  background: url('../assets/banner3.png');
  background-repeat: no-repeat;
  height: 300px;
  display: flex;
  justify-content: center;
  background-position: 0% 0%;
  align-items: center;
  margin-top: 4%;
}

.contact .container {
  padding-top: 5%;
}

.contact .container-fluid h2 {
  color: #fff !important;
  font-size: 42px;
  text-transform: uppercase;
}

.container-fluid.abt h2 {
  color: #fff !important;
  font-size: 42px;
  text-transform: uppercase;
}

.contact form input {
  width: 100%;
  margin-bottom: 14px;
  border: unset;
  border: 1px solid #efefef;
  border-radius: 20px;
}

.contact h2 {
  display: flex;
  font-size: 1.8rem;

  font-weight: 800;
  margin: 2rem 0;
}

.contact textarea,
input {
  padding: 1rem;
  margin: 0.5rem;
  border: 1px solid #efefef;
  border-radius: 5px;
  width: 100%;
}

.contact button {
  width: 100%;
  padding: 1rem;
  border: none;
  cursor: pointer;
  color: #fff !important;
  font-size: 1rem;
  border-radius: 15px !important;
  background-color: #212529 !important;
  transition: all ease-in-out 200ms;
  margin: auto;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
}


.contact button:hover {
  background-color: #B80000 !important;
  color: white;
}

/*---------------- about -------------------*/
.about {
  margin: 80px 0;
}

.about .logo {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.about h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.about p {
  font-family: 'Domine', serif;
  font-family: 'Mulish', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 6 00;
  margin-bottom: 1.5rem;
  text-align: center;
}

.about img {
  width: 500px;
  border-radius: 20px;
}

/*------- Pollicy ---------------*/
.policy h1,
h2 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
  font-family: 'Domine', serif;
  font-family: 'Mulish', sans-serif;
}

.policy ul {
  list-style: disc;

}

.policy li {
  margin-bottom: 10px;
  font-family: 'Domine', serif;
  font-family: 'Mulish', sans-serif;
  font-weight: 600;
  font-size: 16px;
}

.policy p {
  line-height: 1.5;
  margin-bottom: 30px;
  font-family: 'Domine', serif;
  font-weight: 600;
  font-size: 18px;
  font-family: 'Mulish', sans-serif;
  text-align: center;
}

/* Menu */

.col-sm-4.cards {

  overflow: hidden;
  text-align: center;
  padding: 20px;
  font-family: 'Domine', serif;
  font-family: 'Mulish', sans-serif;
  transition: all ease-in-out 200ms;
  cursor: pointer;
  border-radius: 10px;

}

.card p {
  font-family: 'Domine', serif;

  font-size: 14px;

}

.col-sm-4.cards:hover {
  transform: scale(1.05);

}

.container.about {
  padding-top: 0%;
}

.container.about h1 {
  text-align: inherit;
  margin: 0;
}

.container.about p {
  text-align: left;
  letter-spacing: 0;
}

.policy h1 {
  text-align: left;
  padding: 10px 0;
  font-weight: 700;
  text-decoration: underline;
}

.policy h2 {
  text-align: left;
  padding: 10px 0;
  font-weight: 700;
  text-decoration: underline;
}

.policy p {
  text-align: left;
  letter-spacing: 0;
  font-size: 16px;
  font-weight: 500;
}

.policy li {
  text-align: left;
  letter-spacing: 0;
  font-size: 16px;
  font-weight: 500;
}

.policy .col-sm-12 {
  padding: 60px 0;
}

.card-title.h5 {
  text-align: left;
  text-transform: capitalize;
  padding: 15px 0;
  letter-spacing: 0;
  font-weight: bold;
  color: #212529;
  transition: all 300ms ease-in-out;
}

section.contact img {
  width: 100%;
}

.menu button {
  width: 60%;
  padding: 0.5rem;

  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 1rem;
  border-radius: 10px;
  background-color: #212529;
  transition: all ease-in-out 200ms;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  font-family: 'Basic', sans-serif;
  transition: all 300ms ease-in-out;
}

.card:hover button {
  background-color: #B80000;
}

.card:hover .card-title.h5 {
  color: #B80000;
}

.menu button:hover {
  background-color: #9d2226;
  color: white;
}

.menu button svg {
  vertical-align: middle;
  text-align: center;
  margin-bottom: 5px;

  font-weight: 800;
}

.menuHeader h2 {
  text-align: center;
  color: rgb(255, 218, 36);
  font-weight: 800;
  font-family: 'Domine', serif;
  font-family: 'Great Vibes', cursive;
}

.menuHeader {
  margin: 20px 0;
  padding: 52px 0;
}

.menuHeader h2::before,
.menuHeader h2::after {
  display: inline-block;
  content: "";
  border-top: .3rem solid rgb(255, 218, 36);
  width: 4rem;
  margin: 0 1rem;
  transform: translateY(-1rem);
}

.menuHeader h1 {
  text-align: center;
  color: black;
  font-weight: 800;
  font-family: 'Basic', sans-serif;

}

.filterBtn {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 20px 0px;
  padding: 20px 0;
}

.filterBtn button {


  padding: 0.5rem;

  border: none;
  cursor: pointer;
  color: black;
  font-size: 1.2rem;
  border-radius: 10px;

  transition: all ease-in-out 200ms;
  text-transform: capitalize;
  font-weight: 600;
  text-align: center;
  font-family: 'Basic', sans-serif;
  background-color: white;
  margin: 0 20px;
}


.filterBtn button img {
  color: rgb(255, 218, 36);
  margin: 0 10px;
  WIDTH: 30PX;
  height: 30px;
  border-radius: 10px;
}

.col-sm-3.card {
  width: 100% !important;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: unset;
  border-radius: 40px !important;
}

.filterBtn button {
  padding: 5px 10px;
  text-align: center;
  background: #21252947;
  color: #fff;
  width: 165px;
  text-align: center;
}

.filterBtn button svg {
  color: #212529;
  margin: 0 10px;
  font-size: 30px;
}

.filterBtn button:focus {
  background: #212529;
  color: #fff;
}

.filterBtn button:focus svg {
  color: #fff !important;
}


.cards p span {

  font-weight: 700;
}

.cards img {
  height: 300px;
  object-fit: cover;
  border-radius: 15px;
}

/* cart item */
.cartItem {

  padding: 80px 0px;
  overflow: hidden;
}

.cartItem img {
  width: 100%;
  height: 400px;
  object-fit: fill;
}

.cartItem h6 {
  letter-spacing: 0;
  font-size: 18px;
  font-weight: 600;
}

.cartItem h6 span {
  padding-left: 20px;
  font-size: 18px;
}

.cartItem h6 span del {
  padding-right: 5px;
  font-size: 14px;
}

.cartItem p {
  letter-spacing: 0;
}

.cartItem div {
  letter-spacing: 0;
}

.cartItem h2 {
  letter-spacing: 0;
  text-align: left;
  font-weight: 700;
  font-size: 38px;
}

.texts {
  padding-left: 40px !important;
  padding-top: 30px;
}

.btnSection {
  display: flex;
  align-items: center;

}

.btnSection button {
  height: 39px;
  padding: 0 9px;
  background: #efefef;
  border-radius: 0;
  border: unset;
}

.end.navbar-nav {
  margin-left: auto;
}

.end.navbar-nav a.nav-link {
  color: #fff !important;
  padding: 10px 35px !IMPORTANT;
}

.btnSection button svg {
  color: #530000;
}

nav.bg-body-tertiary.navbar.navbar-expand-lg.navbar-light {
  padding: 10px 90px;
}

.container.loginform .col-sm-6 {
  margin: auto;
  text-align: center;
  border: 1px solid #efefef;
  border-radius: 30px;
  padding: 1% 3%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.container.loginform .col-sm-6 p {
  font-weight: 700 !important;
  letter-spacing: 1px !important;
}

.container.loginform .col-sm-6 a:hover {
  text-decoration: underline !important;
  color: #B70001 !important;
  transition: all 300ms ease-in-out;
}

.btnSection p {
  margin: 14px;
}

.cartbtn {
  border: unset;
  background-color: #212529;
  color: #fff;
  padding: 10px 30px;
  border-radius: 15px;
  transition: all 300ms ease-in-out;
}

.cartbtn:hover {
  background-color: #B70001;
}

span.qtty {
  display: flex;
  align-items: center;
  margin-right: 25px;
  border: 1px solid #efefef;
  padding: 0 !important;
  height: 40px;
  margin-bottom: 20px;
}

span.qtty p {
  margin: 0 !important;
  padding: 0 10px;
}

.cartItem h6 span {

  font-weight: 700;
}

.cartItem {

  color: black;
  font-weight: 900;
  font-family: 'Basic', sans-serif;
}

/* login */
.login button {

  margin-top: 40px;
}

.login input {

  margin-top: 40px;
}

.userData {
  display: block;
}


.navmenu-item:hover .userData {
  display: none;
}

.cards del {
  color: red;
}

.cartItem del {
  color: red;
}

.cartItem h6 {
  margin-top: 30px;
}

.cartItemDetail {
  display: flex;
}





.cartItem1 {
  color: black;
  font-weight: 900;
  font-family: 'Basic', sans-serif;
  width: 80%;
  margin: 100px auto;
  padding: 0 50px;
}

.cartItemDetail {
  height: fit-content;
  min-height: 200px;
}

.cartItemDetail img {
  width: 600px;
  margin-right: 10px;
}

.cartItemDetail h4 {
  text-align: center;
}

.cartItemDetailsub {
  margin-left: 10px;
}

.cartItemDetail button {

  border: none;
  color: #202020;
  padding: 30px;
  border-radius: 20px;
  letter-spacing: 1px;
  justify-content: center;
  margin: 0 auto;
}

.contact1 {
  /* height: 100vh; */
  width: 80% !important;
  margin: 67px auto !important;
  background-repeat: no-repeat;
  background-size: cover;
  display: block !important;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}

.contact1 div {
  width: 100% !important;
}

.contact1 div input,
select {
  width: 97% !important;
  padding: 10px;
  margin: 10px !important;

}

.contact1 form {
  width: 80% !important;
  margin: 0 auto;
}

.contact1 select {
  border: 2px solid black;
}

.cartItemDetail {
  margin: 30px;
}

/* table */

.tableHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.tableContent {
  margin: 100px 0px !important;
}

.header {
  background-color: rgb(230, 230, 230);
  justify-content: space-between;
  height: 80px;
  text-align: center;
  align-items: center;
  border-radius: 20px;
}

.header button {
  padding: 10px 50px;
  background-color: #850000;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  margin: 0 10px;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  transition: all ease-in-out 200ms;
}

.header button:active {
  background: rgb(245, 217, 4);
  color: #000;
}

.header button:hover {
  background: rgb(245, 217, 4);
  color: #000;
}

.header h5 {

  font-size: 34px;
  font-weight: 700;

}

.tableContent table {
  width: 100%;
  margin: 20px 0px;

}

.tableContent thead {
  background-color: #212529;
  ;

  border-radius: 20px !important;

}

.tableContent th {
  padding: 20px 40px;
  font-size: 19px;
  color: #fff;
  font-weight: 500;
  text-align: center;
}

.tableContent table thead th:first-child {
  border-radius: 20px 0px 0px 30px;
}

.tableContent table thead th:last-child {
  border-radius: 0px 20px 30px 0px;
}

.tableContent td {
  text-align: center;
  padding: 20px 10px;
}

.tableContent td svg {
  text-align: center;
  font-size: 20px;
  color: #850000;
  margin: 2px;
  cursor: pointer;
}

.orderDetail table {
  width: 100%;

}

.orderDetail th,
td {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 20px;
}

.orderDetail th {
  font-size: 20px;
}

.modal-footer>button {

  padding: 1rem;

  border: none;
  cursor: pointer;
  color: black;
  font-size: 1rem;
  border-radius: 5px;
  background-color: rgb(255, 218, 36);
  transition: all ease-in-out 200ms;
}

.modal-footer>button:hover {
  background-color: #9d2226;
  color: white;
}

.tableContent button {
  padding: 1rem;

  border: none;
  cursor: pointer;
  color: black;
  font-size: 1rem;
  border-radius: 5px;
  background-color: rgb(255, 218, 36);
  transition: all ease-in-out 200ms;

}

.tableContent button:hover {
  background-color: #9d2226;
  color: white;
}

.cartItem1 input {
  width: 230px;
  margin: 0 -16px;
}

.checkoutBtn {
  float: right;
  margin-right: 230px !important;
}

.checkoutBtn button {
  padding: 1rem;

  border: none;
  cursor: pointer;
  color: black;
  font-size: 1rem;
  border-radius: 5px;
  background-color: rgb(255, 218, 36);
  transition: all ease-in-out 200ms;
}

.checkoutBtn button:hover {
  background-color: #6b0101;
  color: white;
}

.cartItem1 table {
  width: 100%;
}

.cartItem1 tbody,
td,
tfoot,
th,
thead,
tr {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  text-align: left;
}

.cartItem1 h1 {
  font-size: 2.5rem;
  text-align: center;
  font-weight: 600;
  color: #530000;
}

.cartItem1 img {
  width: 100px;
  height: 100px;
}

.cartItem1 table {
  margin: 100px 0px;
}

.cartItem1 table th {
  font-size: 22px;
  text-align: unset;


}

.cartItem1 {
  background-color: white;
}

.cardImage img {
  width: 75px;
  height: 75px;
  margin: 0 20px;
}

.cardImage h2 {
  text-align: left;
  font-size: 24px !important;
  font-weight: 700;
}


.cartItem1 table td>button {
  background-color: #cfcfcf;

  border: none;
  padding: 5px;
  font-size: 12px;
  text-align: center;
}

.cartItem1 tr {
  vertical-align: initial;
  border-bottom: 1px solid #efefef;
}

td.cross {
  padding-left: 3%;
}

td.cross2 {
  padding-left: 2%;
}

.cartItem1 td {
  padding-left: 0;
}

.cartItem1 th {
  letter-spacing: 0;
  font-size: 23px !important;
  padding-left: 7px;
}

.checkOutBtn {
  cursor: pointer;
  background-color: #530000;
  border: none;
  padding: 18px;
  position: relative;
  /* right: 40px; */
  color: white;
  top: -2px;
  left: 15px;
}

.btnSection1 {
  display: flex;
}

.btnSection1 button {
  padding: 10px;
  margin: 0 10px;
  border: none;
  width: 40px;
  height: 40px;
}

.btnSection1 p {
  text-align: center;
  padding: 15px 4px;
}

.cartItem1 {
  min-height: 88vh;
}

.orderDetail td {
  text-align: center;
}


.checkOutBtn1 {
  border: none;
  background-color: #530000;
  color: white;

  padding: 20px;
  float: right;
  padding: 23px 111px;
  margin: 53px;
  font-size: 16px;
}

.end.navbar-nav a.nav-link a {
  color: #fff !important;
}

@media only screen and (max-width: 480px) {
  nav.bg-body-tertiary.navbar.navbar-expand-lg.navbar-light {
    padding: 0px;
  }

  .end.navbar-nav {
    background: #212529 !important;
    width: 100%;
    border: unset !important;
    margin-top: -5px;
    text-align: left !important;
    display: block;
  }

  .headerIcons {
    position: fixed;
    background: #212529;
    width: 100%;
    justify-content: center;
    bottom: 0;
    height: 60px;
  }

  .headerIcons a {
    width: 33%;
  }

  .headerIcons a p {
    width: 100% !important;
  }

  .headerIcons p {
    width: 33%;
  }

  .navbar-toggler-icon {
    filter: invert(1);
  }

  .end.navbar-nav a.nav-link {
    color: #fff !important;
    padding: 20px 20px !IMPORTANT;
  }

  .Slider img {
    height: 40vh !important;
  }

  .col-xl-4.col-md-4.mb-30 {
    padding-bottom: 25px;
  }

  .footer-logo {
    text-align: center;
  }

  .footer-text p {
    padding: 0;
    text-align: center;
  }

  .footer-social-icon {
    padding-bottom: 25px;
    text-align: center;
  }

  .col-xl-4.col-lg-4.col-md-6.mb-30 {
    padding-left: 15px !important;
  }

  .footer-text.mb-25 p {
    text-align: inherit;
  }

  .copyright-text p {
    text-align: center;
  }

  .about img {
    width: 100%;
    border-radius: 20px;
  }

  .container.about h1 {
    text-align: inherit;
    margin: 0;
    font-size: 32px;
    text-shadow: unset !important;
    padding-top: 20px;
  }

  .mobile {
    display: block !important;
  }

  .policy .col-sm-12 {
    padding: 60px 20px;
  }

  .col-sm-6.maps {
    padding-top: 30px;
  }

  button.cartbtn {
    width: 100%;
  }

  .end.navbar-nav a.nav-link a {
    color: #fff !important;
  }

  .restable,
  .tabres {
    width: 100%;
    overflow-x: scroll;
  }

  .tabres .tableContent table {
    width: 600px;
    margin: 20px 0px;
  }

  .cartItem1 {
    color: black;
    font-weight: 900;
    font-family: 'Basic', sans-serif;
    width: 100%;
    margin: 100px auto;
    padding: 0 10px;
  }

  .cartItem1 table {
    width: 1000px !IMPORTANT;
  }

  .cardImage h2 {
    text-align: left;
    font-size: 18px !important;
    font-weight: 700;
    letter-spacing: 0;
  }

  .cardImage h5 {
    font-size: 14px;
    letter-spacing: 0;
  }

  td.cross2 {
    padding-left: 2% !important;
  }

  td.cross {
    padding-left: 3% !important;
  }

  .cartItem1 input {
    width: 100%;
    margin-bottom: 10px !important;
    border-radius: 11px;
    margin: 0;
  }

  button.checkOutBtn {
    width: 100%;
    left: 0;
    border-radius: 11px;
  }

  .checkOutBtn1 {
    border: none;
    background-color: #530000;
    color: white;
    padding: 20px;
    float: unset;
    padding: 23px 10px;
    margin: 15px;
    font-size: 16px;
    width: 90%;
    border-radius: 14px;
  }
}