@import url('https://fonts.googleapis.com/css2?family=Domine:wght@500&family=Mulish:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@500&family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Basic&family=Domine:wght@500&display=swap');
/*-------------------- header --------------------*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  text-transform: uppercase;
  padding: 0 20px;
  background-color: rgb(255, 213, 0);
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 40px;
  left: 40px;
  border: 1px solid #efefef;
  border-radius: .4em;
  min-width: 100px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  padding: 12px 12px;
  z-index: 1;
  background: #530000;
  color: white;
  cursor: pointer;
}



.dropdown svg {
  color: #530000;

}

.dropdown img {
  width: 60px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

nav img {
  vertical-align: middle;
  width: 72px;
}

nav div {
  display: flex;
  align-items: center;
}

nav div p {
  margin: 0 40px;
  font-weight: 600;
  transition: all ease-in-out 300ms;
  padding: 10px 20px;
  font-family: 'Domine', serif;
  font-family: 'Mulish', sans-serif;
  text-align: center;
}

.headerIcons {
  width: 240px;
  padding: 0px
}

.headerIcons svg {
  font-size: 24px;

}

.headerIcons p {
  margin: 0 1px !important;
}

nav div p:hover {
  border-radius: 5px;

  background-color: #9d2226;
  color: white;
}

.headerIcons p span {
  position: absolute;
  top: 10px;
  right: 202px;
  z-index: 2;
  font-size: 11px;
  border-radius: 50%;
  background: #d60b28;
  width: 26px;
  height: 26px;
  line-height: 16px;
  display: block;
  padding: 8px;
  text-align: center !important;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.Slider img {
  height: 90vh !important;
}

/*------------------ footer --------------------*/
ul {
  margin: 0px;
  padding: 0px;
}

.footer-section {
  background: #530000;
  position: relative;
}

.footer-social-icon svg {
  font-size: 25px;
  color: rgb(255, 225, 0);
}

.footer-social-icon svg:hover {
  color: #9d2226;
}

.footer-cta {
  border-bottom: 1px solid #373636;
}

.single-cta i {
  color: rgb(255, 225, 0);
  font-size: 30px;
  float: left;
  margin-top: 8px;
}

.cta-text {
  padding-left: 15px;
  display: inline-block;
}

.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}

.cta-text span {
  color: #757575;
  font-size: 15px;
}

.footer-content {
  position: relative;
  z-index: 2;
}

.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}

.footer-logo {
  margin-bottom: 30px;
}

.footer-logo img {
  max-width: 200px;
}

.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #7e7e7e;
  line-height: 28px;
}

.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;

  margin-bottom: 20px;
}

.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}

.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}

.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}

.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: rgb(255, 225, 0);
}

.footer-widget ul li {
  display: inline-block;

  width: 50%;
  margin-bottom: 12px;
}

.footer-widget ul li a:hover {
  color: rgb(255, 225, 0);
}

.footer-widget ul li a {
  color: #f8f8f8 !important;
  text-transform: uppercase;
}

.subscribe-form {
  position: relative;
  overflow: hidden;
}

.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2e2e2e;
  border: 1px solid #2e2e2e;
  color: #fff;
}

.subscribe-form button {
  position: absolute;
  right: 0;
  background: rgb(255, 225, 0);
  padding: 13px 20px;
  border: 1px solid rgb(255, 225, 0);
  top: 7px;
}

.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}

.copyright-area {
  background: #202020;
  padding: 25px 0;
}

.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}

.copyright-text p a {
  color: rgb(255, 225, 0);
}

.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}

.footer-menu li:hover a {
  color: rgb(255, 225, 0);
}

.footer-menu li a {
  font-size: 14px;
  color: #878787;
}

/*----------------- contact------------------- */
.contact {
  /* height: 100vh; */
  width: 100%;
  margin: 67px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 40%;
  padding: 2rem;
  box-shadow: 0 0 10px black;
  border-radius: 20px 20px 200px 20px;
}

.contact h2 {
  display: flex;
  font-size: 1.8rem;

  font-weight: 800;
  margin: 2rem 0;
}

.contact textarea,
input {
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 5px;
  width: 60%;
}

.contact button {
  width: 60%;
  padding: 1rem;

  border: none;
  cursor: pointer;
  color: black;
  font-size: 1rem;
  border-radius: 20px 20px 200px 20px;
  background-color: rgb(255, 218, 36);
  transition: all ease-in-out 200ms;
}

.contact button:hover {
  background-color: #9d2226;
  color: white;
}

/*---------------- about -------------------*/
.about {
  margin: 80px 0;
}

.about .logo {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.about h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.about p {
  font-family: 'Domine', serif;
  font-family: 'Mulish', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 6 00;
  margin-bottom: 1.5rem;
  text-align: center;
}

.about img {
  width: 500px;
  border-radius: 20px;
}

/*------- Pollicy ---------------*/
.policy h1,
h2 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
  font-family: 'Domine', serif;
  font-family: 'Mulish', sans-serif;
}

.policy ul {
  list-style: disc;
  margin-left: 40px;

}

.policy li {
  margin-bottom: 10px;
  font-family: 'Domine', serif;
  font-family: 'Mulish', sans-serif;
  font-weight: 600;
  font-size: 16px;
}

.policy p {
  line-height: 1.5;
  margin-bottom: 30px;
  font-family: 'Domine', serif;
  font-weight: 600;
  font-size: 18px;
  font-family: 'Mulish', sans-serif;
  text-align: center;
}

/* Menu */

.col-sm-4.cards {

  overflow: hidden;
  text-align: center;
  padding: 20px;
  font-family: 'Domine', serif;
  font-family: 'Mulish', sans-serif;
  transition: all ease-in-out 1000ms;
  cursor: pointer;
  border-radius: 10px;
}

.card p {
  font-family: 'Domine', serif;

  font-size: 14px;

}

.col-sm-4.cards:hover {
  transform: scale(1.1);
}


.card-title.h5 {
  font-weight: 600;
  color: #9d2226;
}

.menu button {
  width: 60%;
  padding: 0.5rem;

  border: none;
  cursor: pointer;
  color: black;
  font-size: 1rem;
  border-radius: 10px;
  background-color: rgb(255, 218, 36);
  transition: all ease-in-out 200ms;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  font-family: 'Basic', sans-serif;
}

.menu button:hover {
  background-color: #9d2226;
  color: white;
}

.menu button svg {
  vertical-align: middle;
  text-align: center;
  margin-bottom: 5px;

  font-weight: 800;
}

.menuHeader h2 {
  text-align: center;
  color: rgb(255, 218, 36);
  font-weight: 800;
  font-family: 'Domine', serif;
  font-family: 'Great Vibes', cursive;
}

.menuHeader {
  margin: 20px 0;
}

.menuHeader h2::before,
.menuHeader h2::after {
  display: inline-block;
  content: "";
  border-top: .3rem solid rgb(255, 218, 36);
  width: 4rem;
  margin: 0 1rem;
  transform: translateY(-1rem);
}

.menuHeader h1 {
  text-align: center;
  color: black;
  font-weight: 800;
  font-family: 'Basic', sans-serif;

}

.filterBtn {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}

.filterBtn button {


  padding: 0.5rem;

  border: none;
  cursor: pointer;
  color: black;
  font-size: 1.2rem;
  border-radius: 10px;

  transition: all ease-in-out 200ms;
  text-transform: capitalize;
  font-weight: 600;
  text-align: center;
  font-family: 'Basic', sans-serif;
  background-color: white;
  margin: 0 20px;
}

.filterBtn button img {


  color: rgb(255, 218, 36);
  margin: 0 10px;
}

.filterBtn button svg {


  color: rgb(255, 218, 36);
  margin: 0 10px;
}

.cards p span {

  font-weight: 700;
}

.cards img {
  height: 200px;
}

/* cart item */
.cartItem {
  height: 400px;

  margin: 80px 0px;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.cartItem img {
  width: 500px;
  height: 400px;
}

.btnSection {
  display: flex;

}

.btnSection button {

  padding: 1rem;

  border: none;
  cursor: pointer;
  color: black;
  font-size: 1rem;
  border-radius: 10px;
  background-color: rgb(255, 218, 36);
  transition: all ease-in-out 200ms;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;

  font-family: 'Basic', sans-serif;
  margin: 0 10px;
}

.btnSection button svg {


  color: #530000;
}

.btnSection p {
  margin: 14px;
}

.cartItem h6 span {

  font-weight: 700;
}

.cartItem {

  color: black;
  font-weight: 900;
  font-family: 'Basic', sans-serif;
}

/* login */
.login button {

  margin-top: 40px;
}

.login input {

  margin-top: 40px;
}

.userData {
  display: block;
}


.navmenu-item:hover .userData {
  display: none;
}

.cards del {
  color: red;
}

.cartItem del {
  color: red;
}

.cartItem h6 {
  margin-top: 30px;
}